<div class="w-full px-10 xl:w-[40%] mx-auto pb-56">
    <p class="text-green-primary font-fira text-base xl:text-2xl text-center">04. <span class="text-white-primary font-bold">Contact</span></p>
    <h1 class="text-xl xl:text-3xl text-center font-fira font-bold text-white-primary py-4">Need of a Developer? <span class="text-green-primary cursor-pointer">Contact me</span></h1>
    <p class="text-center px-4 text-white-secondary font-fira text-xs xl:text-sm">Contact me when you need a frontend developer I can work in long contracts or fast work. Click the button below to redirect to Gmail</p>
    <div class="w-full xl:w-2/4 mt-10 mx-auto flex justify-center">
        <a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHxThlxrQvMnmlhqkwkWSrRCmCMrKWMtnFjWKKgZjSncNBlBCzVlJPKxBFpCBpFspKHpHhT">
            <button class="border px-10 xl:px-16 text-green-primary text-sm font-fira py-3 border-green-primary hover:bg-green-primary hover:bg-opacity-20 duration-300">Mail Me</button>
        </a>
    </div>
</div>