<div class="w-[40%] mx-auto pb-56">
    <p class="text-green-primary font-fira text-2xl text-center">04. <span class="text-white-primary font-bold">Contact</span></p>
    <h1 class="text-3xl text-center font-fira font-bold text-white-primary py-4">Need of a Developer? <span class="text-green-primary cursor-pointer">Contact me</span></h1>
    <p class="text-center px-10 text-white-secondary font-fira text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eveniet culpa quisquam laudantium nesciunt, ea ipsam, corporis sunt repellat nulla maiores eaque labore possimus dolore consequuntur error quidem nemo eos!</p>
    <div class="w-2/4 mt-10 mx-auto flex justify-center">
        <button class="border px-16 text-green-primary text-sm font-fira py-3 border-green-primary hover:bg-green-primary hover:bg-opacity-20 duration-300">Mail Me</button>
    </div>
</div>