<div class="w-3/4 mx-auto mt-40">
    <div class="flex items-center w-2/4 justify-between">
        <p class="text-white-primary font-fira text-2xl font-bold tracking-wider w-[30%]"><span class="text-green-primary font-medium mr-2 text-xl">01.</span>About Me</p>
        <div class="border-b-2 w-[65%] border-white-secondary"></div>
    </div>
    <div class="flex justify-between mt-6">
        <p class="text-white-secondary font-fira text-sm w-2/4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quidem non aliquam. Numquam magni debitis exercitationem dicta, repellendus molestiae, nobis optio obcaecati iusto ut porro nemo nostrum amet minus delectus?
            Repellendus nemo expedita dolorem, accusantium aperiam velit necessitatibus, mollitia iste doloremque, eum aliquam ad blanditiis iusto quibusdam at assumenda dicta maiores. Neque labore sunt error doloremque sit? Explicabo, odit voluptates!
            Nulla labore enim perferendis magni error. Quas laborum a tempora excepturi! Architecto nisi repellat culpa quisquam debitis. In, veniam incidunt rem atque error natus dolore mollitia consectetur eos beatae amet.
            Fuga perspiciatis ex corrupti, a tempore ratione? Nostrum similique, aspernatur labore vel necessitatibus voluptatem itaque voluptas odit cumque distinctio fuga iusto culpa odio doloribus, id sequi deleniti nihil voluptate dolorum?
            Aspernatur odit deleniti officia quas et, dolore, laudantium nobis dolorem vitae enim consequuntur exercitationem aliquid facere sapiente? Voluptas iusto placeat earum atque error doloremque quis dolorem quidem. Et, maiores eveniet!
        </p>
        <div >

        </div>
    </div>
</div>