<div class="container mx-auto bg-black-primary flex justify-between text-green-primary py-6 px-10 items-center z-50 absolute top-0">
    <a routerLink="/landing-page" data-aos="fade-down" data-aos-duration="300">
        <span class="font-bold text-3xl">ZaaN</span>
    </a>
    <div class="hidden lg:block">
        <ul class="flex text-sm items-center">
            <li class="px-4" data-aos="fade-down" data-aos-duration="400">
                <a class="font-fira" href="#">
                    01. <span class="text-white-secondary hover:text-green-primary duration-150">About</span>
                </a>
            </li>
            <li class="px-4" data-aos="fade-down" data-aos-duration="500">
                <a class="font-fira" href="#">
                    02. <span class="text-white-secondary hover:text-green-primary duration-150">Experience</span>
                </a>
            </li>
            <li class="px-4" data-aos="fade-down" data-aos-duration="600">
                <a class="font-fira" href="#">
                    03. <span class="text-white-secondary hover:text-green-primary duration-150">Work</span>
                </a>
            </li>
            <li class="px-4" data-aos="fade-down" data-aos-duration="700">
                <a class="font-fira" href="#">
                    04. <span class="text-white-secondary hover:text-green-primary duration-150">Contact</span>
                </a>
            </li>
            <li class="px-4" data-aos="fade-down" data-aos-duration="800">
                <button class="text-xs font-fira border border-green-primary px-6 py-2 hover:bg-green-primary hover:bg-opacity-20 duration-200">Download My CV</button>
            </li>
        </ul>
    </div>
    <div class="blcok lg:hidden">
        <p>Ini Hamburger</p>
    </div>
</div>