<div class="w-full h-full flex justify-center items-center">
    <div class="px-10 xl:px-0 xl:w-3/4" data-aos="fade-up" data-aos-duration="1200">
        <p class="text-green-primary font-fira text-xs xl:text-base">Hi, my name is</p>
        <h1 class="text-white-primary font-bold font-fira py-4 text-4xl xl:text-6xl">Muhammad Zainuddin Basyar.</h1>
        <h1 class="text-white-secondary font-bold font-fira text-4xl xl:text-6xl">Frontend Developer.</h1>
        <p class="text-sm xl:text-base xl:w-2/3 py-4 text-white-secondary font-fira">
            I am a frontend developer who has been working for about a year back, i often use javascript frame work to develop a website.
        </p>
    </div>
</div>