<div class="mt-20 pt-20 w-3/4 mx-auto pb-60">
    <div class="flex justify-center items-center">
        <div class="border-b-2 xl:w-1/4 w-[15%] border-white-secondary"></div>
        <h1 class="text-white-primary text-sm font-fira xl:text-2xl font-bold tracking-wider px-10 border-x-2 py-2 border-white-secondary"><span class="text-green-primary mr-2 font-medium">03.</span>Recent Project</h1>
        <div class="border-b-2 xl:w-1/4 w-[15%] border-white-secondary"></div>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-4 mt-10">
        <div class="w-full h-96 bg-blue-primary p-6 rounded-lg border-2 border-black-primary hover:border-green-primary duration-200">
            <div class="h-[20%] w-full">
                <div class="flex justify-between items-center">
                    <a href="https://github.com/zainuddin25/" target="_blank">
                        <i class="fa-regular fa-folder text-4xl text-green-primary"></i>
                    </a>
                    <a href="https://github.com/zainuddin25/" target="_blank">
                        <i class="fa-solid fa-arrow-up-right-from-square text-white-secondary"></i>
                    </a>
                </div>
            </div>
            <div class="w-full h-[70%]">
                <h1 class="text-2xl font-fira font-bold text-white-primary">Dashboard Management</h1>
                <p class="text-xs font-fira text-white-secondary mt-2">I am a Fullstack Developer developing a website made to manage a fashion store. I created the website interface and rest api. This website was developed using AngularJS, Tailwind CSS and NestJS.</p>
                <p class="text-xs font-fira text-white-secondary mt-4">Frontend Repository : <a href="https://github.com/zainuddin25/Toko-Frontend" target="_blank" class="text-teal-500 hover:text-teal-500">Github</a></p>
                <p class="text-xs font-fira text-white-secondary mt-2">Backend Repository : <a href="https://github.com/zainuddin25/Toko-Backend" target="_blank" class="text-teal-500 hover:text-teal-500">Github</a></p>
            </div>
            <div class="flex justify-start h-[10%] items-end">
                <p class="text-xs text-white-secondary font-fira pr-4">Next JS</p>
                <p class="text-xs text-white-secondary font-fira pr-4">Tailwind CSS</p>
            </div>
        </div>
        <div class="w-full h-96 bg-blue-primary p-6 rounded-lg border-2 border-black-primary hover:border-green-primary duration-200">
            <div class="h-[20%] w-full">
                <div class="flex justify-between items-center">
                    <a href="https://github.com/zainuddin25/" target="_blank">
                        <i class="fa-regular fa-folder text-4xl text-green-primary"></i>
                    </a>
                    <a href="https://github.com/zainuddin25/" target="_blank">
                        <i class="fa-solid fa-arrow-up-right-from-square text-white-secondary"></i>
                    </a>
                </div>
            </div>
            <div class="w-full h-[70%]">
                <h1 class="text-2xl font-fira font-bold text-white-primary">FurTinur Landing Page</h1>
                <p class="text-xs font-fira text-white-secondary mt-2">This website was created using HTML and CSS framework, namely Tailwind CSS. website landing page which contains several menu sections namely products, services, articles and about us.</p>
                <p class="text-xs font-fira text-white-secondary mt-4">Frontend Repository : <a href="https://github.com/zainuddin25/Landing-Page-FurTinur" target="_blank" class="text-teal-500 hover:text-teal-500">Github</a></p>
            </div>
            <div class="flex justify-start h-[10%] items-end">
                <p class="text-xs text-white-secondary font-fira pr-4">HTML</p>
                <p class="text-xs text-white-secondary font-fira pr-4">Tailwind CSS</p>
            </div>
        </div>
    </div>
</div>