<div class="w-screen bg-black-primary">
    <app-header></app-header>
    <div class="w-full h-screen bg-black-primary z-10">
        <app-hero></app-hero>
        <div class="hidden xl:block">
            <app-link-sosmed></app-link-sosmed>
            <app-gmail></app-gmail>
        </div>
    </div>
    <div class="bg-black-primary">
        <app-about></app-about>
        <app-experience></app-experience>
        <app-work></app-work>
        <app-contact></app-contact>
        <app-footer></app-footer>
    </div>
</div>