<div class="w-full px-10 xl:w-2/4 mx-auto mt-10 pt-20 xl:px-0">
    <div class="flex items-center w-full justify-between">
        <p class="text-white-primary font-fira text-2xl font-bold tracking-wider"><span class="text-green-primary font-medium mr-2 text-xl">02.</span>Where I’ve Worked</p>
        <div class="border-b-2 w-[55%] border-white-secondary"></div>
    </div>
    <p class="my-4 text-white-secondary text-sm font-fira">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, atque, quo quisquam nobis quia autem provident fugiat, qui libero cumque iure ab eligendi</p>
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="w-full h-80 flex justify-center items-center bg-black-primary">
                <div class="text-center">
                    <p class="text-xs xl:text-sm text-white-secondary uppercase font-fira">working in</p>
                    <h1 class="text-lg xl:text-2xl font-fira py-2 text-green-primary font-bold">PT. Bangun Kreatif Abadi</h1>
                    <p class="text-xs xl:text-xs text-white-secondary">Desember 2022 - Present</p>
                    <h1 class="w-3/4 xl:text-base text-xs mx-auto text-white-secondary mt-10">Work as a Frontend Developer using JavaScript language and Nextjs Framework</h1>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="w-full h-80 flex justify-center items-center bg-black-primary">
                <div class="text-center">
                    <p class="text-xs xl:text-sm text-white-secondary uppercase font-fira">participated in a bootcamp at</p>
                    <h1 class="text-lg xl:text-2xl font-fira py-2 text-green-primary font-bold">Dignitas Academy</h1>
                    <p class="text-xs xl:text-xs text-white-secondary">May 2022 - Desember 2022</p>
                    <h1 class="w-3/4 xl:text-base text-xs mx-auto text-white-secondary mt-10">Learn basic programming and practice working with real projects.</h1>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="w-full h-80 flex justify-center items-center bg-black-primary">
                <div class="text-center">
                    <p class="text-xs xl:text-sm text-white-secondary uppercase font-fira">internship in a company</p>
                    <h1 class="text-lg xl:text-2xl font-fira py-2 text-green-primary font-bold">PT. Teknologi Otomatisasi Prima</h1>
                    <p class="text-xs xl:text-xs text-white-secondary">August 2020 - November 2020</p>
                    <h1 class="w-3/4 xl:text-base text-xs mx-auto text-white-secondary mt-10">Internship as a web developer learning the PHP programming language and Laravel Framework</h1>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>